<h1 mat-dialog-title>Update equipment</h1>

<mat-dialog-content class="pb-3">
  <form class="d-flex flex-column" [formGroup]="form">
    <!-- Title -->
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>

      <textarea matInput cdkTextareaAutosize formControlName="title"></textarea>

      @if (form.controls.title?.hasError('required')) {
        <mat-error> This field is required. </mat-error>
      }
    </mat-form-field>

    <!-- Description -->
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>

      <textarea matInput cdkTextareaAutosize formControlName="description"></textarea>

      @if (form.controls.description?.hasError('required')) {
        <mat-error> This field is required. </mat-error>
      }
    </mat-form-field>

    <mat-dialog-actions align="end">
      <button matButton="elevated" color="accent" [mat-dialog-close]="false">Cancel</button>

      <button type="submit" matButton="elevated" color="primary" (click)="submit()">Save</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
