<h2 mat-dialog-title>New User</h2>

<mat-dialog-content>
  <form class="d-flex flex-column" [formGroup]="form">
    <!-- Name -->
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>

      <input type="text" matInput formControlName="firstName" />

      @if (form.controls.firstName?.hasError('required')) {
        <mat-error> This field is required. </mat-error>
      }
      @if (form.controls.firstName?.hasError('pattern') && form.controls.firstName?.touched) {
        <mat-error> Only letters are allowed </mat-error>
      }
    </mat-form-field>

    <!-- Last name -->
    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>

      <input type="text" matInput formControlName="lastName" />
      @if (form.controls.lastName?.hasError('required')) {
        <mat-error> This field is required. </mat-error>
      }
      @if (form.controls.lastName?.hasError('pattern') && form.controls.lastName?.touched) {
        <mat-error> Only letters are allowed </mat-error>
      }
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>

      <input type="text" matInput formControlName="email" />
      @if (
        form.controls.email?.invalid && (form.controls.email?.dirty || form.controls.email?.touched)
      ) {
        <mat-error>
          @if (form.controls.email?.hasError('required')) {
            <div>This field is required.</div>
          }
          @if (form.controls.email?.hasError('email')) {
            <div>Invalid email</div>
          }
        </mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button matButton="elevated" color="accent" [mat-dialog-close]="false">Cancel</button>

  <button type="submit" matButton="elevated" color="primary" (click)="submit()">Save</button>
</mat-dialog-actions>
